<!-- Events Section -->
<section class="success" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Events</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <ul id="events-upcoming" class="event-list">
      </ul>

      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="js/googlecal.js"></script>
      <script>
      formatGoogleCalendar.init({
        calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/texastabletop@gmail.com/events?key=AIzaSyDF1stt3gW7UJRwx9tX_d5SOCUAeFh_olE',
        past: true,
        upcoming: true,
        pastTopN: 20,
        upcomingTopN: 3,
        itemsTagName: 'li',
        upcomingSelector: '#events-upcoming',
        pastSelector: '#events-past',
        upcomingHeading: '<h2></h2>',
        //        pastHeading: '<h2>Past events</h2>',
        format: ['*date*', ': ', '*summary*', ' &mdash; ', '*description*', ' in ', '*location*']
      });
      </script>

    </div>
  </div>
</section>
